body {
background-color: #b71f4a0a;
color: rgb(16, 14, 71);
font-family: Raleway;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
    margin: 50px;
    text-align: center;
    line-height: 10px;
}
.title {
    font-weight: bold;
    font-size: 30px;
}
.subtitle {
    font-size: 15px;
    color: #0400018a;
}
form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.word-input {
  padding: 14px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit {
  margin-left: 10px;
  background: #b71f49;
  color: white;
  border: none;
  width: 150px;
  font-size: 14px;
  border-radius: 50px;
  padding: 14px 24px;
}

.pick-up-line {
  font-size: 16px;
  background-color: #fff;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #b71f49;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
    border-radius: 10px;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  opacity: 0.7;
}
a {
    text-decoration: none;
    color: #b71f49;
    font-weight: bold;
}